.sidenav {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  background-color: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1)
  font-size: 50px;
}

body {
  margin-left: 300px;
}

p {
  font-size: 20px;
}

ul {
  font-size: 20px;
}
 
ol {
  font-size: 20px;
}

.icon {
  width: 100px;
  height: 100px;
}

.icon-container {
  display: flex;
  gap: 10px;
}

.caption {
  font-size: 15px;
}
