header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

main {
  position: relative;
  top: 120px;
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Gill Sans", sans-serif;
}

nav ul {
  list-style: none;
  text-align: center;
  justify-content: center;
  padding-left: 0px;
  background-color: #f4f4f4;
  padding: 5px 0px 5px 0px;
}

nav ul li {
  display: inline-block;
  font-family: "Gill Sans", sans-serif;
  margin: 0 20px;
}

nav a {
  font-family: "Gill Sans", sans-serif;
  padding: .5em 1em;
}

li.active a{
  font-family: "Gill Sans", sans-serif;
  font-weight: 900;
}

ul li a:hover {
  text-decoration: underline; 
}

.sidenav {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  background-color: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1)
}

.sidenav h3 {
 font-size: 20px;
  font-family: "Gill Sans", sans-serif;
}

.sidenav ul {
 font-size: 17px;
  font-family: "Gill Sans", sans-serif;
}

.sidenav p {
  font-size: 17px;
  font-family: "Gill Sans", sans-serif;
}

body {
  margin-left: 300px;
  margin-right: 200px;
}

h1 {
 font-size: 30px;
 font-family: Helvetica, sans-serif;
}

h2 {
 font-size: 25px;
 font-family: Helvetica, sans-serif;
}

h3 {
  font-size: 20px;
  font-family: "Gill Sans", sans-serif;
}

p {
  font-size: 17px;
  font-family: "Gill Sans", sans-serif;
}

ul {
  font-size: 17px;
  font-family: "Gill Sans", sans-serif;
}
 
ol {
  font-size: 17px;
  font-family: "Gill Sans", sans-serif;
}

.icon {
  width: 70px;
  height: 70px;
  float: right;
}

.icon-container {
  display: flex;
  gap: 10px;
  float: right;
}

.caption {
  font-size: 13px;
  font-family: "Gill Sans", sans-serif;
}


