nav {
  background-color: #f4f4f4;
  text-align: center;
  padding: 20px 0;
  width: 65%;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  font-family: "Gill Sans", sans-serif;
}

nav li {
  display: inline-block;
  margin: 0 15px;
  font-family: "Gill Sans", sans-serif;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  font-family: "Gill Sans", sans-serif;
  font-size: 25px;
}

nav a:hover {
  text-decoration: underline;
}

.sidenav {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  background-color: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1)
}

.sidenav h3 {
 font-size: 20px;
  font-family: "Gill Sans", sans-serif;
}

.sidenav ul {
 font-size: 18px;
  font-family: "Gill Sans", sans-serif;
}

.sidenav p {
  font-size: 20px;
  font-family: "Gill Sans", sans-serif;
}

body {
  margin-left: 300px;
  margin-right: 200px;
}

h1 {
 font-size: 40px;
 font-family: Helvetica, sans-serif;
}

h2 {
 font-size: 30px;
 font-family: Helvetica, sans-serif;
}

h3 {
  font-size: 25px;
  font-family: "Gill Sans", sans-serif;
}

p {
  font-size: 25px;
  font-family: "Gill Sans", sans-serif;
}

ul {
  font-size: 25px;
  font-family: "Gill Sans", sans-serif;
}
 
ol {
  font-size: 25px;
  font-family: "Gill Sans", sans-serif;
}

.icon {
  width: 100px;
  height: 100px;
}

.icon-container {
  display: flex;
  gap: 10px;
}

.caption {
  font-size: 15px;
  font-family: "Gill Sans", sans-serif;
}


